.card-img-top {
    height:345px;
    width:460px;
    overflow:hidden;
}

.card-body {
    height:350px;
    width:350px;
    overflow:hidden;
    position: absolute;
    left: 50;
    right: 50;
    margin: auto;
}



