<div class="col-xs-12">
    <div class="btn btn-success pull-right" role="button" (click)="goToCreate()">New News
      </div>
      <div vertilize-container class="col-xs-10" >
        <div vertilize-container class="row-fluid" *ngFor="let singleNews of news; let id = index">
            <div vertilize class="col-sm-3 col-sm-3">
              <div vertilize class="thumbnail">
                <img [src]="singleNews.pathToPicture">
                <div class="caption">
                  <h3>{{ singleNews.title }}</h3>
                  <p> {{ singleNews.text }}</p>
                  <p>
                    <a class="btn btn-primary" role="button" (click)="goToNewsProfile(id)">Edit</a>
                    <a class="btn btn-default" role="button" (click)="disableNews(id)">Disable</a>
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>
