 <div class="row-fluid">
  <div class="col-lg-10">
      <div class="btn btn-success float-right" role="button" (click)="goToCreate()">New News
        </div>
    <div class="col-lg-8">
        <div class="card" *ngFor="let singleNews of news; let id = index">
          <img class="card-img-top" [src]="singleNews.pathToPicture">
            <h3 class="card-title">{{singleNews.title}}</h3>
            <p class="card-text">{{ singleNews.text }}</p>
            <p>
              <a class="btn btn-primary" role="button" (click)="goToNewsProfile(id)">Edit</a>
              <a class="btn btn-default" role="button" (click)="disableNews(id)">Disable</a>
            </p>
        </div>
    </div>
  </div>
</div>