 <ngb-carousel *ngIf="news" class="carousel">
        <ng-template ngbSlide *ngFor="let singleNews of news">
          <div class="slider">
            <h2 (click)="show()" style="cursor: pointer">{{singleNews.title}}</h2>
            <hr>
            <h5>{{singleNews.text}}</h5>
          </div>
          <img [src]="singleNews.pathToPicture" class="box">
          <!-- <button type="button" class="btn btn-primary" (click)="show()">Send to email</button> -->
        </ng-template>
</ngb-carousel>

    <div class="col-sm-3 " >
      <form [hidden]="!send">
          <label for="username"> Enter your email </label>
          <input type="text" id="email" name="email" ngModel class="form-control">
          <button type="button" class="close" aria-label="Close" (click)="close()">Send</button>
      </form>
    </div>

<!-- <hr>
    <hr>
    <hr>
    <hr> -->

    <div class="ticker-wrap" >
      <div class="ticker">
        <div class="ticker__item" *ngFor="let singleNews of news">{{ singleNews.text }}</div>
      </div>
    </div>
    