.box {
    height:350px;
    width:800px;
    overflow:hidden;
}

.form-control {
    border: 1px solid black;
}

.slider {
    color: white;
}

form {
    color: white;
}

.close {
    color: white;
}