<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <div id="news-data">
          <div class="form-group">
            <label for="title">News Title</label>
            <input 
              type="text" 
              id="title" 
              formControlName="title" 
              class="form-control"
              placeholder="Title">
            <span 
              *ngIf="!adminForm.get('title').valid && adminForm.get('title').touched"
               class="help-block">Please enter a title!</span>
            </div>
            <div class="form-group">
              <label for="description">News Description</label>
              <input 
                type="text" 
                id="description"
                formControlName="description" 
                class="form-control"
                placeholder="Description">
              <span 
                *ngIf="!adminForm.get('description').valid && adminForm.get('description').touched" 
                class="help-block">Please enter a description!</span>
            </div>
            <div class="form-group">
              <label for="category">News Category</label>
              <select class='form-control'
              formControlName="category">                                                                
                  <option value='First choice learning centar'>First choice learning centar</option>
                  <option value='APA BENEFITI'>APA BENEFITI</option>
                  <option value='WCSC 2.0'>WCSC 2.0</option>
                  <option value='NOVISTI IZ PIVARE'>NOVISTI IZ PIVARE</option>
              </select>
              <span 
                *ngIf="!adminForm.get('category').valid && adminForm.get('category').touched" 
                class="help-block">Please enter a category!</span>
            </div>
            <div class="form-group">
              <label for="city">News City</label>
              <select class='form-control'
              formControlName="city">                                                                
                <option value='Apatin'>Apatin</option>
                <option value='Beograd'>Beograd</option>
                <option value='Niksic'>Niksic</option>
              </select>
              <span 
                *ngIf="!adminForm.get('city').valid && adminForm.get('city').touched" 
                class="help-block">Please enter a city!</span>
            </div>
            <div class="form-group">
              <label for="date">News Date</label>
              <input 
                type="text" 
                id="date"
                formControlName="date" 
                class="form-control"
                placeholder="dd-MM-yyyy">
              <span 
                *ngIf="!adminForm.get('date').valid && adminForm.get('date').touched" 
                class="help-block">Please enter a date!</span>
            </div>
            <div class="form-group">
              <label for="pathToPicture">News Picture</label>
              <input 
                type="text" 
                id="pathToPicture"
                formControlName="pathToPicture" 
                class="form-control"
                placeholder="Picture URL"
                #pathToPicture>
                <div class="row">
                  <div class="col-xs-12">
                      <img [src]="pathToPicture.value" class="img-responsive">
                  </div>
                </div>
              <span 
                *ngIf="!adminForm.get('pathToPicture').valid && adminForm.get('pathToPicture').touched" 
                class="help-block">Please enter an URL path to picture!</span>
            </div>
            <div class="form-group">
              <label for="newsText">News Text</label>
              <textarea 
                class="form-control" 
                placeholder="Text"
                name="newsTextArea" 
                formControlName="text" 
                id="newsText" 
                rows="10"></textarea>
              <span 
                *ngIf="!adminForm.get('text').valid && adminForm.get('text').touched" 
                class="help-block">Please enter a text!</span>
            </div>
            </div>
        <button 
        class="btn btn-success" 
        type="submit"
        [disabled]="!adminForm.valid">Save</button>
      </form>
    </div>
  </div>
</div>
