<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <div id="news-data">
          <div>
            <label for="title">News Title</label>
            <input 
            type="text" 
            id="title" 
            formControlName="title"
            class="form-control">
            <span 
            *ngIf="!adminForm.get('title').valid && adminForm.get('title').touched" 
            class="help-block">Please enter a title!</span>
            </div>
            <div class="form-group">
            <label for="description">News Description</label>
            <input 
            type="text" 
            id="description" 
            formControlName="description"
            class="form-control">
            <span 
            *ngIf="!adminForm.get('description').valid && adminForm.get('description').touched" 
            class="help-block">Please enter a description!</span>
            </div>
            <div class="form-group">
            <label for="newsText">News Text</label>
            <textarea 
            class="form-control" 
            name="newsTextArea"
            formControlName="text" 
            id="newsText" 
            rows="10"></textarea>
            <span 
            *ngIf="!adminForm.get('text').valid && adminForm.get('text').touched" 
            class="help-block">Please enter a text!</span>
          </div>
      </div>
        <button class="btn btn-primary" type="submit" >Submit</button>
      </form>
    </div>
  </div>
</div>
