<div class="row">
<div class="col-xs-12 col-md-8">
        <div class="dropdown" appDropdown [hidden]="show">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a style="cursor: pointer"> <h3>Cities <span class="caret"></span></h3></a>
                </button>
                  <ul class="dropdown-menu" >
                    <li class="list-group-item" style="cursor: pointer" *ngFor="let city of cities; let i = index" (click)="showCategory(city)">{{ city }}</li>
                  </ul>
              </div>
    <ul class="btn-group-vertical" [hidden]="!show">
        <button type="button" class="btn btn-outline-danger">First choice learning centar</button>
        <hr>
        <button type="button" class="btn btn-outline-primary">APA BENEFITI</button>
        <hr>
        <button type="button" class="btn btn-outline-success">WCSC 2.0</button>
        <hr>
        <button type="button" class="btn btn-outline-warning">NOVISTI IZ PIVARE</button>  
    </ul>
</div>
</div>
