<div class="col-xs-12">
        <div class="dropdown" appDropdown>
                <a style="cursor: pointer" class="dropdown-toggle" role="button"> <h3>Cities <span class="caret"></span></h3></a>
                  <ul class="dropdown-menu" >
                    <li><a style="cursor: pointer" *ngFor="let city of cities; let i = index" (click)="showCategory(city)">{{ city }}</a></li>
                  </ul>
              </div>
    <ul class="list-group">
      <li class="list-group-item"
          style="cursor: pointer"
          *ngFor="let category of categoryList"
          (click)="showNews(category)"
      >{{ category }}</li>
    </ul>
</div>
