<div class="logo">
    <img src="../../../assets/img/apatinska-pivara.png" class="img">
</div>

<div class="dropdown" appDropdown [hidden]="show">
    <button class="dropdown-toggle select-city" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
            Cities
    </button>
    <ul class="dropdown-menu">
        <li class="list-group-item" *ngFor="let city of cities; let i = index" (click)="showCategory(city)">{{city}}</li>
    </ul>
</div>
<ul class="filters" [hidden]="!show">
    <li>
        <img src="../../../assets/img/btn1.jpg" alt="">
    </li>
    <li>
        <img src="../../../assets/img/btn2.jpg" alt="">
    </li>
    <li>
        <img src="../../../assets/img/btn3.jpg" alt="">
    </li>
    <li>
        <img src="../../../assets/img/btn4.jpg" alt="">
    </li>
    <li>
        <img src="../../../assets/img/btn5.jpg" alt="">
    </li>
    <li>
        <img src="../../../assets/img/btn6.jpg" alt="">
    </li>
</ul>

