<div class="container">       
  <div class="forecast">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Date</th>
          <th>Temperature min &#8451;</th>
          <th>Temperature max &#8451;</th>
          <th>Pressure</th>
          <th>Humidity</th>
          <th>Forecast</th> -->
          <th colspan="4">{{today | date:'shortTime'}}</th>
        </tr>
      </thead>
      <tbody>
          <tr class="name"><td colspan="4" class="tdName">{{city?.name}}</td></tr>
          <tr class="desc"><td colspan="4">{{city?.weather[0].description}}</td></tr>
          <tr class="temp"><td colspan="4">{{(city?.main.temp - 273.15).toFixed(0)}}&#8451;</td></tr>
          <!-- <tr class="day"><td>{{days[date.getDay()]}}</td><td></td><td>{{(city?.main.temp_min - 273.15)}}&#8451;</td><td>{{(city?.main.temp_max - 273.15)}}&#8451;</td></tr> -->
          <tr class="day"><td>{{days[date.getDay()]}}</td><td><img src="https://openweathermap.org/img/w/{{city?.weather[0].icon}}.png" class="forecast-icon" alt="forecast"></td><td>{{(city?.main.temp_min - 273.15)}}&#8451;</td><td>{{(city?.main.temp_max - 273.15)}}&#8451;</td></tr>
      </tbody>
    </table>
  </div>
</div>


<!-- {{today | date:'medium'}} -->
<!-- {{(city?.main.temp_min - 273.15)}}&#8451; -->
