table tr td{
    
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

.forecast {
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.5);
}

table {
    background: url('../../../assets/img/sky.jpg') no-repeat center;
    border: solid black 2px;
}

.temp {
    font-size: 100px;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
}

.tdName {
    vertical-align: baseline;
}

.desc {
    text-transform: capitalize;
    font-size: 20px;
    vertical-align: top;
}

.name {
    font-size: 35px;
}


th {
    
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    
}

thead th {
    border-bottom: none;
}